/* header */
.alertify .ajs-header {

    background: #009b99;
    font-family: 'Open Sans',Arial,sans-serif;
    color: #bfe6e5;
    font-weight:700;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    border: 0px;
}
/* body */
.alertify .ajs-dialog {
    background-color: #009b99;
}

.ajs-content{
    background: #009b99;
    font-family: 'Open Sans',Arial,sans-serif;
    color: #bfe6e5;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: #01635e;
    font-family: 'Open Sans',sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    padding:5px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: top -200px;;

}
.alertify .ajs-footer{
    background: #009b99;
    font-family: 'Open Sans',Arial,sans-serif;
    color: #bfe6e5;
    font-weight:700;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    border: 0px;

}

.alertify.ajs-maximized .ajs-body .ajs-content, .alertify.ajs-resizable .ajs-body .ajs-content {

    overflow: auto;
    background-color: #bfe6e5 ;
    background-image:url(../img/notificationL.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50% 10%;
    display: block;
    max-width: 500px;
    max-height: 400px;
    color: inherit;
    background-color: #bfe6e5;
    opacity: 0.9;
    margin: auto;
    width: 50%;
    padding: 100px;
    border-radius: 50px;
}