.titulo{
    font-family: 'Open Sans',Arial,sans-serif;
    color: #01635e;
    font-weight:700;
    font-size: 24px;
    letter-spacing: -3px;
    text-align: center;
}

.margin-titulo{
    margin-top: -20%;
}
.margin-boton{
    margin-left: 10%;
}

.espacio{
    letter-spacing: 1px;
}

.h4{
    text-align: center;
    font-size: medium;
    font-family: 'Open Sans',Arial,sans-serif;
}

