nav{
    background-color: #009b99;
}
.img-logo{
    width: 20%;
    height: 10%;
    max-block-size: 100px;
}

.img-logo2{
    width: 25%;
    height: 12%;
    max-block-size: 100px;
    margin-left: 37%;
}

