label{
    color: #747473;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.label2{
    color: #bfe6e5;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}