label{
    color: #747473;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.label2{
    color: #bfe6e5;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

.label3{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #ffffff;
    margin-top: 5%;
    margin-right: 30rem;
    display: block;

}